# if statement

In [1]:
a=10
b=20

In [2]:
if a<b:
    print('b is grater than a')
else:
    print('a is grater than b')

b is grater than a

In [4]:
z=int (input('enter the number'))
if (z%2)==0:
    print('this is a even number')
else:
     print('this is a odd number')

enter the number5
this is a odd number

In [5]:
k=int (input('enter ur total bill amound'))
if k>=1000:
    x=10*2
    s=k-x
    print('ur discnt amt is',s)
else:
    print('u have no discound')

enter ur total bill amound5
u have no discound

In [6]:
z=int (input('enter the number'))
if z%5==0:
    print('the number is a multiple of 5')
else:
    print('not multiple of 5')

enter the number5
the number is a multiple of 5

In [7]:
x=10
a=20
b=30
if a>b:
    if a>c:
        print('a is a gratest number')
    else:
         print('c is a gratest number')
else:
     print('b is a gratest number')

b is a gratest number

In [8]:
a=int (input('enter the 1st number'))
b=int (input('enter the 2st number'))
c=int (input('enter the 3st number'))
if a>b:
    if a>c:
        print('a is a gratest number')
    else:
         print('c is a gratest numr')
else:
    if b>c:
        print('b is a gratest number')
    else:
        print('c is a gratest number')

enter the 1st number5
enter the 2st number5
enter the 3st number5
c is a gratest number


y=20
z=x+y

In [9]:
z

5

In [10]:
print('the sum is',z)

the sum is 5

In [12]:
x=int (input('enter the 1st number'))
y=int (input('enter the 2st number'))

enter the 1st number5
enter the 2st number5

In [13]:
z=x+y

In [14]:
z

10

In [17]:
x=int (input('enter the 1st number'))
y=int (input('enter the 2st number'))
z=x+y
print('the sum is',z)

enter the 1st number6
enter the 2st number77
the sum is 83

In [18]:
a=int (input('enter the 1st mark'))
b=int (input('enter the 2st mark '))
c=int (input('enter the 3st mark'))
d=int (input('enter the 4st mark'))
e=int (input('enter the 5st mark'))
z=a+b+c+d+e/5

enter the 1st mark777
enter the 2st mark 88
enter the 3st mark88
enter the 4st mark88
enter the 5st mark88

In [19]:
x

6

In [20]:
a=int (input('enter the 1st mark '))
b=int (input('enter the 2st mark '))
c=int (input('enter the 3st mark '))
d=int (input('enter the 4st mark '))
e=int (input('enter the 5st mark '))
z=(a+b+c+d+e)/5
print('your average score is:',z)
if z>=90:
    print('your grade is a+')
elif z>=80 and z<90:
    
      print('your grade is b+')
elif z>=60 and z<80:
      print('your grade is c+')
else:
      print('your grade is d+')

enter the 1st mark 44
enter the 2st mark 44
enter the 3st mark 44
enter the 4st mark 44
enter the 5st mark 44
your average score is: 44.0
your grade is d+

In [21]:
#for loop

####

In [22]:
for i in range (0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [23]:
for i in range (-10,20):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [24]:
for j in range (6,100):
    print(j)

6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [25]:
for i in range (0,10,2):
    print(i)

0
2
4
6
8

In [26]:
for i in range (0,100,10):
    print(i)

0
10
20
30
40
50
60
70
80
90

In [27]:
for i in range (0,10,3):
    print(i)

0
3
6
9

In [28]:
a=int (input('enter a limit:'))
k=1
for i in range (1,a+1):
  
    k=i*k
    print(k)

enter a limit:5
1
2
6
24
120

In [29]:
b=int (input('enter starting range:'))
a=int (input('enter ending limit:'))
k=1
for i in range(b,a+1):
  
    k=i*k
    print(k)

enter starting range:5
enter ending limit:55
5
30
210
1680
15120
151200
1663200
19958400
259459200
3632428800
54486432000
871782912000
14820309504000
266765571072000
5068545850368000
101370917007360000
2128789257154560000
46833363657400320000
1077167364120207360000
25852016738884976640000
646300418472124416000000
16803810880275234816000000
453702893767431340032000000
12703681025488077520896000000
368406749739154248105984000000
11052202492174627443179520000000
342618277257413450738565120000000
10963784872237230423634083840000000
361804900783828603979924766720000000
12301366626650172535317442068480000000
430547831932756038736110472396800000000
15499721949579217394499977006284800000000
573489712134431043596499149232537600000000
21792609061108379656666967670836428800000000
849911753383226806610011739162620723200000000
33996470135329072264400469566504828928000000000
1393855275548491962840419252226697986048000000000
58541921573036662439297608593521315414016000000000
2517302627640576484889797169521416562802688000000000
110761315616185365335151075458942328763318272000000000
4984259202728341440081798395652404794349322240000000000
229275923325503706243762726200010620540068823040000000000
10775968396298674193456848131400499165383234682880000000000
517246483022336361285928710307223959938395264778240000000000
25345077668094481703010506805053974036981367974133760000000000
1267253883404724085150525340252698701849068398706688000000000000
64629948053640928342676792352887633794302488334041088000000000000
3360757298789328273819193202350156957303729393370136576000000000000
178120136835834398512417239724558318737097657848617238528000000000000
9618487389135057519670530945126149211803273523825330880512000000000000
529016806402428163581879201981938206649180043810393198428160000000000000

In [30]:
list=[1,2,3,4,5,77,88,77,66,55,43,54,54]
for i in list:
    print(i)

1
2
3
4
5
77
88
77
66
55
43
54
54

In [31]:
list=[1,2,3,4,5,9]
m=0
for i in list:
    m=m+i
    print(m)

1
3
6
10
15
24

In [32]:
for i in range(0,100):
    print(i)
    if i==5:
        
        print('the value is 5')
        break

0
1
2
3
4
5
the value is 5

In [33]:
a=int(input('enter the limit'))
k=1
for i in range(1,a+1):
    k=k*i
print(k)

enter the limit6
720

In [34]:
a=int(input('enter the limit :'))
sum=0
temp=a
while temp>0:
    digit=temp%10
    sum=sum+(digit**3)
    temp=temp//10
if sum==a:
    print('yes. this is a amstrong number')
else:
    print('No. this value is not amstrong number')

enter the limit :5
No. this value is not amstrong number

In [35]:
a=int(input('enter the limit :'))
for i in range (1,a,2):
    print(i)

enter the limit :55
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53

In [36]:
num=int(input('enter the limit :'))
if num > 1:
    for i in range(2, int(num/2)+1):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

enter the limit :55
55 is not a prime number

In [1]:
x=int(input('enter the limit :'))
n1=0
n2=1
count=0
print(n1)
print(n2)
while count<x:
    sums=n1+n2
    
    n1=n2
    n2=sums
    print(sums)
    count=count+1

enter the limit :6
0
1
1
2
3
5
8
13

In [40]:
s1=int(input ('enter the limit of pyramid'))
for i in range(s1):
    for j in range(i+1):       print('*', end=" ")
        print=("/n")

enter the limit of pyramid8

TypeError: 'str' object is not callable

In [48]:
num2=int(input ('enter the limit of pyramid'))
revnum=0
while num2!=0:
    digits=num2%10
    revnum=(revnum*10)+digits
    num2 //= 10

print("Reversed Number: " + str(revnum))

enter the limit of pyramid8765

TypeError: can only concatenate str (not "int") to str

In [21]:
for i in range(i+1):
    for j in range(i+1):
        print("* ", end="")
    print("\n")
for s in range():
    for p in range(5-1*s):
         print("* ", end="")
    print("\n")

*

* *

* * *

* * * *

* * * * *

* * * * *

* * * *

* * *

* *

*

In [27]:
n=8
k = n - 1
 
# outer loop to handle number of rows
for i in range(0, n):
 
    # inner loop to handle number spaces
    # values changing acc. to requirement
    for j in range(0, k):
        print(end=" ")
 
    # decrementing k after each loop
    k = k - 1
 
    # inner loop to handle number of columns
    # values changing acc. to outer loop
    for j in range(0, i+1):
     
        # printing stars
        print("* ", end="")
 
    # ending line after each row
    print("\r")
n=8
k = 8- 1

for i in range(8,0):
    for j in range(8, 0):
        print(end=" ")
 
    # decrementing k after each loop
    k = k - 1
    for j in range(0, i+1):
        print(" * ", end="")
    print("\r")

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *
* * * * * * * *

In [5]:
a={'a':2,'b':3,'c':8,'e':6}
b=a.keys()

c=a.values()
c
for i in c:
    print(i)

2
3
8
6

In [8]:
a['b']=5
#change the value of a dic

In [7]:
a

{'a': 2, 'b': 5, 'c': 8, 'e': 6}

In [9]:
a['d']=38

In [10]:
a

{'a': 2, 'b': 5, 'c': 8, 'e': 6, 'd': 38}