In [ ]:
#pattern

In [4]:
s1=int(input('enter the limit'))
for i in range(0,s1):
    
    for j in range(0,i+1): 
        print("*",end=" ")
    print("\r")

enter the limit6
*
* *
* * *
* * * *
* * * * *
* * * * * *

In [5]:
s1=int(input('enter the limit'))
for i in range(s1,0):
    
    for j in range(i-1,0): 
        print("*",end=" ")
    print("\r")

enter the limit6

In [6]:
 n=int(input('enter the limit'))
    # number of spaces
    k = 2*n - 2
    
    for i in range(0, n):
        for j in range(0, k):
            print(end=" ")
     
        # decrementing k after each loop
        k = k - 2
     
        # inner loop to handle number of columns
        # values changing acc. to outer loop
        for j in range(0, i+1):
         
            # printing stars
            print("* ", end="")
     
        # ending line after each row
        print("\r")

IndentationError: unexpected indent (2575449357.py, line 3)

In [7]:
n=5;i=0
while(i<=n):
  print(" " * (n - i) +"*" * i)
  i+=1

    *
   **
  ***
 ****
*****

In [8]:
s1=int(input('enter the limit'))
s="python"
for i in range(0,s1):
    
    for j in range(0,i+1): 
        print(s,end=" ")
    print("\r")

enter the limit7
python
python python
python python python
python python python python
python python python python python
python python python python python python
python python python python python python python

In [9]:
n=int(input('enter the number'))
for row in range(1,(n+1)):
    for space in range(1,(n-row)+1):
        print(" ",end=" ")
    for symbol in range(1,row+1):
        print("*",end=" ")
    print()

enter the number5
        *
      * *
    * * *
  * * * *
* * * * *

In [10]:
num=10
for i in range(1,num+1):
    print(" "*(num-i)+"*"*i)

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [11]:
num=10
for i in range(1,num+1):
    print(" "*(num-i)+"* "*i)

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

In [12]:
s="python"
l=0
for i in s:
    l=l+1
    print(s[0:l])
for i in s:
    l=l-1
    print(s[0:l])

p
py
pyt
pyth
pytho
python
pytho
pyth
pyt
py
p

In [13]:

for i in range(1,11):
    for j in range(1,i+1):
        print(j,end=" ")
    print("\r")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [14]:
ss="python"
h = eval(input("Enter diamond's height: "))
for x in range(h):
    print("   "  * (h - x), ss * (x + 1))
    print("\r")
for x in range(h - 2, -1, -1):
    print("   " * (h - x), ss * (x + 1))
    print("\r")

Enter diamond's height: 5
                python

             pythonpython

          pythonpythonpython

       pythonpythonpythonpython

    pythonpythonpythonpythonpython

       pythonpythonpythonpython

          pythonpythonpython

             pythonpython

                python

In [ ]:
#diamond shape print pattern

num=int(input('enter range:'))
for i in range(1,num+1):
    print(" "*(num-i)+"* "*i)

In [ ]:
strng=input('enter a string')
length=len(strng)
for i in range(length):
    for j in range(length-i-1):
        print(" ",end="")
    for j in range(i+1):
        print(strng[j],end=" ")
    print()

In [20]:
strng=input('enter a string')
length=len(strng)
for i in range(length):
    for j in range(length-i-1):
        print(" ",end="")
    for j in range(i+1):
        print(strng[j],end=" ")  
    print()
for x in range(length-1,-1,-1):
    for y in range(length-x-1):
        print(" ",end="")
    for j in range(x-1):
        print(strng[j],end=" ")
    print()

enter a stringpython
     p
    p y
   p y t
  p y t h
 p y t h o
p y t h o n
p y t h
 p y t
  p y
   p

In [15]:
h=5
for i in range()
for x in range(h - 2, -1, -1):
    print(x)

3
2
1
0

In [16]:
n=6
for i in range(1,n+1):
    for j in range(n-i):
        print(i,end=" ")
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [15]:
strng="python"
length=len(strng)
for i in range(length):
    for j in range(length-i-1):
        print(" ",end="")
    for j in range(i+1):
        print(strng[j],end=" ")  
    print()
for x in range(length-2,-1,-1):
    for y in range(length-x-1):
        print(" ",end="")
    for j in range(x+1):
        print(strng[j],end=" ")
    print()

     p
    p y
   p y t
  p y t h
 p y t h o
p y t h o n
 p y t h o
  p y t h
   p y t
    p y
     p

In [28]:
num=16
for i in range(num-1,-1,-1):
    print(" "*(num-i)+"* "*i)

 * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * *
   * * * * * * * * * * * * *
    * * * * * * * * * * * *
     * * * * * * * * * * *
      * * * * * * * * * *
       * * * * * * * * *
        * * * * * * * *
         * * * * * * *
          * * * * * *
           * * * * *
            * * * *
             * * *
              * *
               *

In [54]:
for i in range(10,0,-1):
    for j in range(i,0,-1):
        print('*',end="")
    for k in range(i,10):
        print(" ",end="")
    for m in range(i,9,1):
        print(" ",end="")
    for n in range(0,i):
        print("*",end="")    
    print()

********************
********* *********
********   ********
*******     *******
******       ******
*****         *****
****           ****
***             ***
**               **
*                 *

In [1]:
for i in range(1,10):
    for j in range(0,i+1):
        print('*',end="")
    for k in range(i,9):
        print(" ",end="")
    for m in range(i,9):
        print(" ",end="")
    for n in range(-1,i):
        print("*",end="")    
    print()

**                **
***              ***
****            ****
*****          *****
******        ******
*******      *******
********    ********
*********  *********
********************

In [42]:
for i in range(10,0,-1):
    for j in range(i,0,-1):
        print('*',end="")
    for k in range(i,10):
        print(" ",end="")
    for m in range(i,9,1):
        print(" ",end="")
    for n in range(0,i):
        print("*",end="")    
    print()   
for i in range(1,10):
    for j in range(0,i+1):
        print('*',end="")
    for k in range(i,9):
        print(" ",end="")
    for m in range(i,9):
        print(" ",end="")
    for n in range(-1,i):
        print("*",end="")    
    print()

********************
********* *********
********   ********
*******     *******
******       ******
*****         *****
****           ****
***             ***
**               **
*                 *
**                **
***              ***
****            ****
*****          *****
******        ******
*******      *******
********    ********
*********  *********
********************

In [4]:
ss="ABCDEF"
h = eval(input("Enter diamond's height: "))
for x in range(h):
    print("   "  * (h - x), ss * (x + 1))
    
for x in range(h - 2, -1, -1):
    print("   " * (h - x), ss * (x + 1))

Enter diamond's height: 5
                ABCDEF
             ABCDEFABCDEF
          ABCDEFABCDEFABCDEF
       ABCDEFABCDEFABCDEFABCDEF
    ABCDEFABCDEFABCDEFABCDEFABCDEF
       ABCDEFABCDEFABCDEFABCDEF
          ABCDEFABCDEFABCDEF
             ABCDEFABCDEF
                ABCDEF

In [5]:
strng="ABCD"
length=len(strng)
for i in range(length):
    for j in range(length-i-1):
        print(" ",end="")
    for j in range(i+1):
        print(strng[j],end=" ")  
    print()
for x in range(length-2,-1,-1):
    for y in range(length-x-1):
        print(" ",end="")
    for j in range(x+1):
        print(strng[j],end=" ")
    print()

   A
  A B
 A B C
A B C D
 A B C
  A B
   A

In [13]:
n=5
for row in range(1,n+1):
    for colom in range(1,row+1):
        print(row-colom+1,end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [14]:
n=10
for row in range(0,n+1,1):
    for coloum in range(1,row):
        print(coloum,end=" ")
    print("\r")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9

In [1]:
# hollow pyramid star pattern
n = 5
for i in range(n):
    # printing spaces
    for j in range(n - i - 1):
        print(' ', end='')

    # printing stars
    for k in range(2 * i + 1):
        # print star at start and end of the row
        if k == 0 or k == 2 * i:
            print('*', end='')
        else:
            if i == n - 1:
                print('*', end='')
            else:
                print(' ', end='')
    print()

    *
   * *
  *   *
 *     *
*********

In [2]:
n = 6
for i in range(1, n+1):
    for j in range(i):
        if j == 0 or j == i-1:
            print('*', end='')
        else:
            if i != n:
                print(' ', end='')
            else:
                print('*', end='')
    print()

*
**
* *
*  *
*   *
******

In [3]:
# hollow diamond star pattern
n = 5

# upward hollow pyramid
for i in range(n):
    for j in range(n - i - 1):
        print(' ', end='')
    for j in range(2 * i + 1):
        if j == 0 or j == 2 * i:
            print('*', end='')
        else:
            print(' ', end='')
    print()

# downward pyramid
for i in range(n - 1):
    for j in range(i + 1):
        print(' ', end='')
    for j in range(2*(n - i - 1) - 1):
        if j == 0 or j == 2*(n - i - 1) - 2:
            print('*', end='')
        else:
            print(' ', end='')
    print()

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *

In [4]:
# hourglass star pattern
n = 5

# downward pyramid
for i in range(n-1):
    for j in range(i):
        print(' ', end='')
    for k in range(2*(n-i)-1):
        print('*', end='')
    print()
# upward pyramid
for i in range(n):
    for j in range(n-i-1):
        print(' ', end='')
    for k in range(2*i+1):
        print('*', end='')
    print()

*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

In [5]:
# heart pattern 
n = 6

# upper part of the heart
for i in range(n//2, n, 2):
    # print first spaces
    for j in range(1, n-i ,2):
        print(" ", end="")
    # print first stars
    for j in range(1, i+1, 1):
        print("*", end="")
    # print second spaces
    for j in range(1, n-i+1, 1):
        print(" ", end="")
    # print second stars
    for j in range(1, i+1, 1):
        print("*", end="")
    print()

# lower part
for i in range(n,0,-1):
    for j in range(i, n, 1):
        print(" ", end="")
    for j in range(1, i*2, 1):
        print("*", end="")
    print()

 ***   ***
***** *****
***********
 *********
  *******
   *****
    ***
     *