In [1]:
#Write a Python program access the index of a list.
li=[2,3,4,5,6,7,8,9,7,6,0]
li.index(7)

5

In [2]:
#Write a Python program to get unique values from a list
li=[2,3,4,5,6,7,8,9,7,6,0]

# tuple

In [3]:
s="hello"
f=list(s)
f

['h', 'e', 'l', 'l', 'o']

In [4]:
s

'hello'

In [5]:
#slicing

In [6]:
a=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print(a[1:10])

(2, 3, 4, 5, 6, 7, 8, 9, 10)

In [7]:
print(a[0:4])

(1, 2, 3, 4)

In [8]:
value=input()
l=value.split(",")
t=tuple(l)
print(l)
print(t)

['']
('',)

In [9]:
n=int(input('enter your number:'))
d=dict()
for i in range(1,n+1):
    d[i]=i*i
print(d)

enter your number:

ValueError: invalid literal for int() with base 10: ''

In [ ]:
#Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized

ff=str(input('enter somthing  :'))
ff.upper()

In [ ]:
#Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically

ff=str(input('enter somthing  :'))
ss=ff.split(",")
print(ss)

In [ ]:
set1={ }
type(set1)

In [ ]:
a=set()
type(a)

In [ ]:
a={2,3,4,5,6,7,77,8,77,78,999,0}
a.add(66)

In [ ]:
a

In [ ]:
a="hello"
b=set(a)
b

In [ ]:
a={2,3,4,5,6,7,77,8,77,78,999,0}
6 in a

In [ ]:
1 in a

In [ ]:
1 not in a

In [ ]:
b={2,4,6,7}
b.issubset(a)

In [ ]:
a.issuperset(b)

In [ ]:
#set oprtn

In [ ]:
a={2,3,4,5,6,7,77,8,77,78,999,0}
b={2,4,6,7,77777,999999}
a.union(b)

In [ ]:
a.intersection(b)

In [ ]:
a&b

In [ ]:
a|b

In [ ]:
a.difference(b)

In [ ]:
b.difference(a)

In [ ]:
a={2,3,4,5,6,7,77,8,77,78,999,0}
b={2,4,6,7,77777,999999}
c={6,88,77,0}
set.intersection(a,b,c)

In [ ]:
#frozen set

In [ ]:
#Write a Python program to create an intersection, union, set difference, symmetric difference of sets.
a={2,3,4,5,6,7,77,8,77,78,999,0}
b={2,4,6,7,77777,999999,9,0,3,4343}
a.issubset(b)
a.union(b)

In [ ]:
a.difference(b)

In [ ]:
#Write a Python program to check if a set is a subset of another set.
a=set(input('enter a set:'))
b=set(input('enter a set:'))
a.issubset(b)

In [ ]:
#Write a Python program to create a shallow copy of sets.
a=set(input('enter a set:'))
b=a.copy()
print('the copy of the set is:',b)

In [ ]:
#Write a Python program to check if two given sets have no elements in common.
a=set(input('enter a set:'))
b=set(input('enter 2nt set:'))
a&b

In [ ]:
c

In [ ]:
#Write a Python program to get unique values from a list
a=[2,3,4,5,6]
b=[4,5,6,7,8]
c=set(a)
d=set(b)
e=c&d
f=list(e)
print(f)

In [ ]:
 #Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.Suppose the following input is supplied to the program
 
a1=input()
l=a1.split(",")
t=tuple(l)
print(t)

In [10]:
#Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized

str1=str (input('enter somthing:')) 
str1.upper()

enter somthing:hello

'HELLO'

In [4]:
list1=[2,3,4,5,6,7,7,9,0,77,6,5,5554,345,66]
print(list1[2:7])

[4, 5, 6, 7, 7]

In [10]:
a=(2,3,4,5,6,7,7,9,0,77,6,5,5554)
b=list(a)
b.append(33)
print(b)

d=tuple(b)
print(d)

[2, 3, 4, 5, 6, 7, 7, 9, 0, 77, 6, 5, 5554, 33]
(2, 3, 4, 5, 6, 7, 7, 9, 0, 77, 6, 5, 5554, 33)

In [24]:
a=(2,3,4,5,6,7,7,9,0,77,6,5,5554)
a[len(a)-2]


#print the index of second last element

5

In [25]:
a[-2]

5

In [29]:
a=(2,3,4,5,6,7,7,9,0,77,6,5,5554)
b=list(a)
b.insert(2,666)
print(b)

[2, 3, 666, 4, 5, 6, 7, 7, 9, 0, 77, 6, 5, 5554]